### Day 4

Description of the puzzle [here](https://adventofcode.com/2019/day/4)

### Part 1

#### Functions

In [1]:
def test_increasing(n):
    s = str(n)
    digits = [int(x) for x in s]
    return all(x<=y for x,y in zip(digits[:], digits[1:]))

In [2]:
test_increasing(123789)

True

In [3]:
def test_doubles(n):
    s = str(n)
    digits = [int(x) for x in s]
    return any(x==y for x,y in zip(digits[:], digits[1:]))

In [4]:
test_doubles(123364)

True

#### Part 1 test

In [5]:
test_increasing(111111) and test_doubles(111111)

True

In [6]:
test_increasing(223450) and test_doubles(223450)

False

In [7]:
test_increasing(123789) and test_doubles(123789)

False

#### Part 1 solution

In [8]:
nums = range(145852,616942)

In [9]:
ls = [n for n in nums if (test_increasing(n) and test_doubles(n))]

In [10]:
len(ls)

1767

### Part 2

This now is a fail in part 2, where the two adjacent matching digits are not to be part of a larger group of matching digits.

In [11]:
test_doubles(123444)

True

#### Working solution

Cycle through the possible combinations but then for each one, rather than looking at the patterns in the differences between digits and eliminate double zeros, let's try to iterate through three digits at a time and  if all three are equal eliminate the combination

In [12]:
numbers = [112233, 123444, 111122]

In [13]:
def strictly_double(n):
    s=str(n)
    prev_2 = s[0]             # assign first two elements to variables
    prev = s[1]
    is_valid = True           # assume combination is valid
    for char in s[2:]:        # look at third element
        if prev_2 == prev and prev == char:
            is_valid = False  # this combination is invalid and
            break             # and break the inner if loop
        prev_2 = prev         # move along by one element
        prev = char
    if is_valid:              # otherwise the combination is valid
        return n

In [14]:
ls = [strictly_double(n) for n in numbers]
ls = [x for x in ls if x is not None]
ls

[112233]

Now this is restrictive because as soon as it finds a triple it eliminates a combination, so it will only find doubles not in a group.

But it will not find doubles WITH a group. That's what the function below does.

In [15]:
def double_and_group(n, tests):
    '''This function:
    - takes input numbers in a list one by one
    - converts number to a list of integers
    - calculates the differences between consecutive digits
        doubles will give a single zero
        triples and more consecutive equal digits will give sequences of zeros
        any other combination will give differences between 1 and 9
    - aggregate differences into a single string
    - return the number if this string does not contain one of the test combinations
    '''
    s = str(n)
    digits = [int(x) for x in s]
    t = ''.join(str(dgt) for dgt in [x-y for x,y in zip(digits[1:], digits[:])])
    if any([ts in str(t) for ts in tests]):
        return(n)

In [16]:
ls5 = [n for n in nums if (test_increasing(n))]

In [17]:
tests = ['01000', '10100', '01100', '01001', '01111', '101111', '11011', '11101', '11110']
tests = tests + [t[::-1] for t in tests] + ['01010']

In [18]:
ls4 = [n for n in numbers if double_and_group(n, tests)]
print(ls4)

[112233, 111122]

Assuming only not decreasing digits in our numbers, those below should be the only possible combinations of differences with either a double alone or a double with group

In [19]:
ls6 = [n for n in ls5 if double_and_group(n, tests)]

In [20]:
len(ls6)

56